<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name= "hibernate.connection.url">jdbc:postgresql://ers.cmtoj1tercl6.us-east-2.rds.amazonaws.com:5432/ers</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sandoz1997</property>

        <!--        driver spec-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!--        make things nice-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- use hibernate to create our schema -->
        <!-- Four values for hbm2ddl.auto
          - create - drop then create at startup
          - create-drop - create at startup and drop at shutdown
          - update - only update schema diffs
          - none - default, don't do it
         -->

        <!--        mappings-->
        <mapping class="com.ex.webapp.models.User"/>
        <mapping class="com.ex.webapp.models.ReimbursementRequest"/>
    </session-factory>
</hibernate-configuration>